<% include partials/header %>
<h2>Search For Wines!</h2>
<a id="newWinelink" href="wines/new">Search For Wines!</a>
<br>





     <% wineData.forEach(function(wine){ %>
      <ul class="searchResults">
      <% if(wine.Labels){ %>	
	
	<div class="searchInfo">
      <li><img class="labelImage" src=<%= wine.Labels[0].Url%>></li>
      <li class="fancyOne"><a href="/wines/<%= wine.id%>"><%= wine.Name%></a></li>
      <% if(wine.Vineyard){ %>
      	<li class="fancyTwo"><%= wine.Vineyard.Name %></li>
      <% }%>
      <% if(wine.Varietal){ %>
      <li class="fancyThree"><%= wine.Varietal.Name %></li>
      <% }%>
      <li class="fancyFour"><%= wine.Ratings.HighestScore%></li>
      <% }%>
 
      <li><a href="/wines/<%= wine.id%>/edit">Edit</a></li>
	</div>

    </ul>
    <% })%>

<% include partials/footer %>